[SmtpEmailNotifyAction]
enabled = true
# GMail account credentials
name = Your Name
user = youremail@gmail.com
password = yourpassword
sender = youremail@gmail.com
# Recipient email address (could be same as from_addr)
recipient = youremail@provider.com
# Subject line for email
subject = Motion detected
# First line of email message
message = Video uploaded
event_started_message = An event has been detected and is being captured. Images are being uploaded to Google Drive.
# The link to the Google Drive folder that will be included in the email at the start of the event. This is only used in the email - it doesn't affect the upload
image_and_video_folder_link = https://drive.google.com/a/xxxxxxxxxxx.com/folderview?id=xxxxxxxxxxxxxxxxx&usp=sharing

[GoogleDriveUploadAction]
# The folder in Google drive to upload to (from the URL eg. https://drive.google.com/drive/folders/0Bzt4FJyYHjdYhnA3cECdTFW3RWM
folder_name = MOTION
folder = 0Bzt4FJyYHjdYhnA3cECdTFW3RWM
#key file - this is the p12 key file downloaded from developers.google.com
key_file = /etc/motion-notify/creds.p12
service_user_email = xxxxxxxxxxxxxxxxxxxxxxxxxxx@developer.gserviceaccount.com
dateformat = %Y-%m-%d
#The email of the user who will own the file / folder in Google Drive
owner = owner@gmail.com
#Users who need write access to the daily folders in Google Drive
write_users = youremail@gmail.com,writer@gmail.com
#Users who need read access to the daily folders in Google Drive
read_users = reader@gmail.com

[options]
# Delete the local video and files after the upload
delete-files = true

[activate-system]
# Force on between these hours, i.e, ignore presence info
force_on_start = 1
force_on_end = 7

[ArpBasedDetector]
enabled = false
# Network to monitor (used by MAC address detection)
network = 192.168.1.0:255.255.255.0
# MAC addresses (comma separated) of the devices to detect home presence and disable emails (e.g., phones) - these will be ignored if you specify IP addresses below
presence_macs = XX:XX:XX:XX:XX,YY:YY:YY:YY:YY

[IpBasedDetector]
enabled = true
#Space separated list of IP addresses for detection. If these are present on the network the system is inactive. Setup a static IP on your router to keep your IP constant
#The MAC address above will be ignored if you configure an IP here 
ip_addresses = 192.168.1.254

[EventActionRules]
on_event_start = SmtpEmailNotifyAction:IfActive
on_picture_save = GoogleDriveUploadAction:Always
on_movie_end = GoogleDriveUploadAction:Always,SmtpEmailNotifyAction:IfActive